@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");

body {
  font-family: "Bai Jamjuree", sans-serif;
}
.navbar-container{
  border-bottom: 1px solid #f7f7f7;
  color: #000;
}

.section-header {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}
.la-logo {
  height: 34px;
}

.navbar-link {
  color: #000;
  font-weight: 700;
  font-family: "Syncopate", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.navbar-link:active {
  color: grey !important;
}
.navbar-link:hover {
  color: grey;
}

.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 240ms ease-in;
}

.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.left {
  z-index: -999;
}

.hero-section-container{
  background-color: #fff;
}

.welcome-text {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.hero-text {
  font-size: 3.5em;
  font-weight: 700;
  width: max-content;
}

.hero-sub-text {
  font-size: 10px;
}

ul {
  list-style: none;
}

.social-icon a {
  margin-right: 40px;
  font-weight: 900;
  color: #000;
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
}

.social-icon a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: #fc8415;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 240ms ease-in;
}

.social-icon a:hover {
  color: #fc8415;
}

.social-icon a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.unordered h5 {
  font-weight: 300;
}

.avatar-container {
  cursor: pointer;
  z-index: 99999999;
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

.project-left {
  font-size: 0.75em;
}

.project-tech-tags {
  font-size: 9px;
}

.curved-tv {
  overflow: hidden;
  position: relative;
}

.curved-tv img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.git-view {
  font-size: 25px;
}




.stage-cube-cont {
  width: 200px;
  height: 200px;
}

.cubespinner {
  text-align: center;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 75px 75px 0;
}

.face {
  margin-top: 20px;
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(33, 33, 33, 0.2);
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px lightyellow;
}

.face1 {
  transform: translateZ(100px);
  color: #dd0031;
}

.face2 {
  transform: rotateY(90deg) translateZ(100px);
  color: #f06529;
}

.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  color: #28a4d9;
}

.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  color: #5ed4f4;
}

.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  color: #efd81d;
}

.face6 {
  transform: rotateX(-90deg) translateZ(100px);
  color: #ec4d28;
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}

.tech-img-container {
  animation: move 5s infinite alternate;
  overflow: hidden;
}

.tech-img {
  height: 30px;
  transition: 0.5s;
}
.tech-img:hover {
  height: 28px;
}

.tech-name {
  font-size: 8px;
  text-align: center;
  place-items: center;
}
@keyframes move {
}

.tech-logo1 {
  color: #61dbfb;
  font-size: 16px;
}

.tech-logo2 {
  color: #f0db4f;
  font-size: 16px;
}

.tech-logo3 {
  color: #171515;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 7px;
}

@media (max-width: 768px) {
  .navbar-link {
    font-size: 11px;
  }
  .hero-text {
    font-size: 1.5em;
  }
  .about-description {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .tech-img-container {
    animation: move 5s infinite alternate;
    overflow: hidden;
  }

  .tech-img {
    height: 15px;
    transition: 0.5s;
  }
  .tech-img:hover {
    height: 14px;
  }

  .tech-name {
    font-size: 5px;
    text-align: center;
    place-items: center;
  }
}




.carousel-control-prev {
  bottom: 0;
  top: unset;
  transform: translateX(-50%);
  /* Horizontally center the previous button */
  left: 50px;
  /* Adjust the left position for the previous button */
  margin-right: 30px;
  /* Add a fixed margin between the buttons */
}

.carousel-control-next {
  bottom: 0;
  top: unset;
  transform: translateX(-50%);
  /* Horizontally center the next button */
  right: 50px;
  /* Adjust the right position for the next button */
  margin-left: 30px;
  /* Add a fixed margin between the buttons */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  /* Adjust the size of the icons as needed */
  height: 30px;
  /* Adjust the size of the icons as needed */
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* Background color for buttons */
  border-radius: 50%;
  /* Make them circular */
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: "";
  /* Remove default content */
  color: white;
  /* Icon color */
  font-size: 20px;
  /* Adjust the icon size */
}
.about-section {
  background-color: #f8f8f8;
}
.about-text {
  line-height: 1.1em;
  text-align: center;
  font-size: 0.8em;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  /* Adjust the size of the buttons as needed */
  height: 30px;
  /* Adjust the size of the buttons as needed */

  /* Background color for buttons */
  border-radius: 50%;
  /* Make them circular */
  display: flex;

  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -35px;
  /* Adjust the distance from the bottom */
}

.carousel-control-prev {
  left: calc(50% - 45px);
  /* Adjust the left position for the previous button */
}

.carousel-control-next {
  right: calc(50% - 45px);
  /* Adjust the right position for the next button */
}
.carousel-caption {
  color: #000;
}


.contact-section{
  background-color: #f8f8f8;
}

input {
  border: 1px solid red;
  background-color: transparent !important;
}

textarea {
  border: 1px solid #000 !important;
  background-color: transparent !important;
}

.name-input,
.email-input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.send-button {
  width: 150px;
  margin: 0 auto;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader img {
  width: 200px; /* Adjust the size as needed */
  height: auto;
}
.form-control:focus {
  border-color: 1px solid gray;
  box-shadow: none;

}
.form-select:active {
  border-color: 1px solid gray !important;
  box-shadow: none;

}

.form-select:focus-visible {
  border-color: 1px solid gray !important;
  box-shadow: none;

}
