body {
    /* Set the height and margin to cover the entire viewport */
   
  
    /* Background gradient */
    background: linear-gradient(to bottom, #2a2a2e, #1f1338, #000000);
    color: #ffffff; /* Optional: Text color to stand out against the background */
  }

.todo-page{
    background: linear-gradient(to bottom, #2a2a2e, #1f1338, #000000) !i;
    color: #ffffff; /* Optional: Text color to stand out against the background */
}

.todo-ctn{

}


.active-tab{
    background-color: #fff;
    color: #1f1338 !important;
    border-radius: 12px;
    padding: 12px 24px;
}

.event-field{
background-color: transparent;
color: #fff;
border-radius: 20px !important;
}
.event-field::placeholder{

color: #828282;

}
.category-field{
    background-color: transparent !important;
    color: #828282;
    border-radius: 20px !important;
}

.weekday:hover{
    background-color: rgb(242, 65, 65);
    cursor: pointer;
    
}

option {
    background-color: transparent !important;
    color: inherit; /* Ensures the text color matches the parent element */
    border: 1px solid #ccc; /* Optional: adds a visible border */
  }



.event-div{
    background-color: #7E64FF;
}

.edit-input{
    background-color: transparent;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-out {
    animation: fadeOut 1s ease-in-out forwards;
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }